[Unit]
Description=NSEC proxy server
Wants=network-online.target
After=network-online.target

[Service]
User=knot
Group=knot
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETPCAP
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SETPCAP
ExecStart=/usr/sbin/nsecproxy --conf /etc/knot/nsecproxy.conf
Restart=on-abort
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
